h1 {
  font-family: garamond;
  font-weight: lighter;
  color: #6E6E6E;
  text-align: center;
}

p {
  font-size: 16px;
  line-height: 12px;
  text-align: center;
}

img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.headers {
  color: #8F99AB;
  font-style: italic;
  text-align: center;
}
